:root{
    --primary-color:#f2726a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to right,#f2726a,#ed564d);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box-contain{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.worker{
    width: 350px;
    height: 400px;
    background-color: #242628;
    border-radius: 10px;
    overflow: hidden;
}

.avatar{
    transform: translateY(25px);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--primary-color) ;
    overflow: hidden;
    margin:  auto ;
    transition: 0.25s;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.worker-name{
    margin-top: 45px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    transition:  0.25s;
}

.worker-job{
    padding: 10px 0;
    font-size: 14px;
    color: aqua;
    text-align: center;
    font-weight: 400;
    transition: 0.25s;
}

.work-contact{
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.icon{
    position: relative;
}

.facebook,
.linkedin,
.heart,
.github {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    padding: 10px 25px;
    font-weight: 500;
    transition:  0.25s;
}

.mess-note-github,
.mess-note-heart,
.mess-note-linkedin,
.mess-note-facebook{
    position: absolute;
    font-size: 15px;
    top: -23px;
    left: 0px;
    display: block;
    width: 80px;
    height: 26px;
    background-color: #3b5999;
    line-height: 26px;
    text-align: center;
    border-radius: 5px ;
    transform: translateY(30px);
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}

.mess-note-linkedin{
    left: -4px;
    background-color: #0a63bc;
}

.mess-note-heart{
    left: -1px;
    background-color: #e1306c;
}

.mess-note-github{
    left: -3px;
    background-color: #333;
}

.mess-note-linkedin::after,
.mess-note-heart::after,
.mess-note-github::after,
.mess-note-facebook::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 36%;
    border: 10px solid;
    border-color: #3b5999 transparent transparent transparent;
}

.mess-note-linkedin::after{
    left: 37%;
    border-color: #0a63bc transparent transparent transparent;
}

.mess-note-heart::after{
    border-color: #e1306c transparent transparent transparent;

}

.mess-note-github::after{
    left: 39%;
    border-color: #333 transparent transparent transparent;
}

.facebook:hover,
.linkedin:hover,
.heart:hover,
.github:hover,
.worker-name:hover{
    color: #ed564d;
    transform: scale(1.4);
    cursor: pointer;
}

.facebook:hover{
    color:#3b5999;
}

.linkedin:hover{
    color: #0a63bc;
}

.heart:hover{
    color: #e1306c;
}

.github:hover{
    color: #9d9595;
}

.facebook:hover .mess-note-facebook,
.linkedin:hover .mess-note-linkedin,
.heart:hover .mess-note-heart,
.github:hover .mess-note-github{
    transform: translateY(0);
    scale: 0;
    visibility: visible;
    opacity: 1;
    color: #fff;
}



.btn{
    display: flex;
    width: 150px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin: 10px auto;
    background-color: #242628;
    outline: none;
    justify-content: center;
    transition: 0.25s;
}

.worker-job:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.login-btn:hover,
.btn:hover{
    transform: scale(1.2);
    background-color: #f2726a;
    cursor: pointer;
}

.avatar:hover{
    width: 100%;
    height: 100%;
    overflow: unset;
    transform: unset;
    border: unset;
    border-radius: unset;
    cursor: pointer;
}

.sign{
    position: fixed;
    width: 150px;
    padding: 16px;
    margin: 0 auto;
    background-color: #242628;
    display: block;
    top: 85%;
    left: calc((100% - 150px)/2);
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
}

.sign:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.form-box{
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: -50%;
    transform: translateY(-200%);
    transition: 0.3s;
    visibility: hidden;
    z-index: 5;
}

.box-title{
    text-align: center;
    font-weight: 800;
    padding: 16px 0;
}

.form-control{
    padding: 30px ;
}

.input-control{
    width: 100%;
    border: unset;
    padding: 12px;
    margin:16px 0;
    outline: unset;
    font-size: 16px;
}

.persude::after{
    content: "";
    position: absolute;
    right: 30px;   
    left: 30px;
    background-color: #ccc;
    height: 2px;
    transform: translateY(60px);
}

.login-btn{
    text-align: center;
    padding: 8px 20px;
    margin: 0 auto;
    width: 160px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    background-color: #f2726a;
    border-radius: 10px;
    transition: 0.25s;   
}

.form-decrep{
    text-align: center;
    padding: 16px;
}

.link{
    padding: 0 8px;
    text-decoration: none;
    font-size: 20px;
    color: #f2726a;
}

.signIn:checked ~ .modal{
    display: block;
}

.signIn:checked ~ .form-box{
    display: block;
    visibility: visible;
    top: -50%;
    transform: translateY(-50%);
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0, 0.3);
    display: none;
    animation: fadeIn linear 0.25s;
    z-index: 3;
}

.box-test{
    height: 120px;
    width: 120px;
    background-color: #ccc;
}

.color-black{
    height: 90px;
    width: 90px;
    background-color: #242628;
    display: none;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}